@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: #DFDFE2;
}

.intro-content {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: #3D3D3D;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
}

.intro-content .hide {
  overflow: hidden;
}

.intro-content .hide .logo {
  display: inline-block;
}

.intro-content .slider {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: #F2922E;
  position: fixed;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 999;
}

.main {
  width: 100vw;
  min-width: 1000px;
  height: 100vh;
  min-height: 900px;
  background-color: #DFDFE2;
  font-family: "Poppins", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 13% 82% 5%;
      grid-template-rows: 13% 82% 5%;
}

.header {
  width: 100%;
  height: 100%;
  background-color: #3D3D3D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .navbar {
  width: 60%;
  height: 100%;
  min-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .nav-links li {
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.header .navbar .nav-links li a {
  text-decoration: none;
  font-size: 20px;
  margin-left: 80px;
  color: rgba(196, 196, 196, 0.9);
}

.footer {
  width: 100%;
  height: 100%;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  color: #3D3D3D;
}

.content {
  width: 60%;
  height: 100%;
  min-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #DFDFE2;
  position: static;
  margin: auto;
}

.home {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (5%)[20];
      grid-template-rows: repeat(20, 5%);
  -ms-grid-columns: (5%)[20];
      grid-template-columns: repeat(20, 5%);
}

.home h1 {
  text-align: justify;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  grid-column-end: 6;
  font-size: 110px;
  color: #F2922E;
}

.home h2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 4;
      grid-row-start: 4;
  font-size: 60px;
}

.home p {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 14;
  font-size: 25px;
  margin-right: 20px;
}

.home .img-main {
  width: 430px;
  border-radius: 16px;
  -ms-grid-column: 13;
      grid-column-start: 13;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.home span {
  height: 120px;
  background-color: #F2922E;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  -ms-grid-row: 15;
      grid-row-start: 15;
  opacity: 0.9;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home span button {
  width: 300px;
  height: 75px;
  margin-left: 80px;
  border-radius: 16px;
  border: none;
  background-color: #3D3D3D;
}

.home span button a {
  color: #DFDFE2;
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
}

.obras {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (5%)[80];
      grid-template-rows: repeat(80, 5%);
  -ms-grid-columns: (5%)[20];
      grid-template-columns: repeat(20, 5%);
}

.obras .obras-title-1 {
  font-size: 90px;
  color: #F2922E;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.obras .obras-span-1 {
  height: 80px;
  background-color: #F2922E;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  margin-top: 12px;
  margin-top: 30px;
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.obras .obras-span-1 .obras-ejecucion {
  font-size: 60px;
}

.obras .proyecto-1 {
  height: 200px;
  width: 100%;
  border-radius: 16px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  -ms-grid-row: 7;
      grid-row-start: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 4px 4px 8px rgba(165, 177, 198, 0.8), -4px -4px 8px rgba(255, 255, 255, 0.5);
          box-shadow: 4px 4px 8px rgba(165, 177, 198, 0.8), -4px -4px 8px rgba(255, 255, 255, 0.5);
}

.obras .proyecto-1 img {
  height: 200px;
  border-radius: 16px 0 0 16px;
}

.obras .proyecto-1 .proyecto-descripcion {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.obras .proyecto-2 {
  height: 200px;
  width: 100%;
  border-radius: 16px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  -ms-grid-row: 14;
      grid-row-start: 14;
  -webkit-box-shadow: 4px 4px 8px rgba(165, 177, 198, 0.8), -4px -4px 8px rgba(255, 255, 255, 0.5);
          box-shadow: 4px 4px 8px rgba(165, 177, 198, 0.8), -4px -4px 8px rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.obras .proyecto-2 img {
  height: 200px;
  border-radius: 16px 0 0 16px;
}

.obras .proyecto-2 .proyecto-descripcion {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.obras .proyecto-3 {
  height: 200px;
  width: 100%;
  border-radius: 16px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  -ms-grid-row: 26;
      grid-row-start: 26;
  -webkit-box-shadow: 4px 4px 8px rgba(165, 177, 198, 0.8), -4px -4px 8px rgba(255, 255, 255, 0.5);
          box-shadow: 4px 4px 8px rgba(165, 177, 198, 0.8), -4px -4px 8px rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.obras .proyecto-3 img {
  height: 200px;
  border-radius: 16px 0 0 16px;
}

.obras .proyecto-3 .proyecto-descripcion {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.obras .proyecto-4 {
  height: 200px;
  width: 100%;
  border-radius: 16px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  -ms-grid-row: 33;
      grid-row-start: 33;
  -webkit-box-shadow: 4px 4px 8px rgba(165, 177, 198, 0.8), -4px -4px 8px rgba(255, 255, 255, 0.5);
          box-shadow: 4px 4px 8px rgba(165, 177, 198, 0.8), -4px -4px 8px rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.obras .proyecto-4 img {
  height: 200px;
  border-radius: 16px 0 0 16px;
}

.obras .proyecto-4 .proyecto-descripcion {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.obras .proyecto-5 {
  height: 200px;
  width: 100%;
  border-radius: 16px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  -ms-grid-row: 40;
      grid-row-start: 40;
  -webkit-box-shadow: 4px 4px 8px rgba(165, 177, 198, 0.8), -4px -4px 8px rgba(255, 255, 255, 0.5);
          box-shadow: 4px 4px 8px rgba(165, 177, 198, 0.8), -4px -4px 8px rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.obras .proyecto-5 img {
  height: 200px;
  border-radius: 16px 0 0 16px;
}

.obras .proyecto-5 .proyecto-descripcion {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.obras .obras-title-2 {
  font-size: 90px;
  color: #F2922E;
  -ms-grid-row: 20;
      grid-row-start: 20;
}

.obras .obras-span-2 {
  height: 80px;
  background-color: #F2922E;
  -ms-grid-row: 22;
      grid-row-start: 22;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  margin-top: 30px;
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.obras .obras-span-2 .obras-finalizadas {
  font-size: 60px;
}

.obras .footer {
  -ms-grid-row: 46;
      grid-row-start: 46;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  width: 100%;
  text-align: center;
}

.empresa {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (5%)[20];
      grid-template-rows: repeat(20, 5%);
  -ms-grid-columns: (5%)[20];
      grid-template-columns: repeat(20, 5%);
}

.empresa h1 {
  font-size: 90px;
  color: #F2922E;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.empresa span {
  height: 80px;
  background-color: #F2922E;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  margin-top: 12px;
  margin-top: 30px;
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.empresa span h2 {
  font-size: 60px;
}

.empresa p {
  font-size: 18px;
  margin-top: 20px;
}

.empresa .text-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 6;
      grid-row-start: 6;
}

.empresa .text-2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 10;
      grid-row-start: 10;
}

.empresa .text-3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 14;
      grid-row-start: 14;
}

.empresa img {
  width: 400px;
  border-radius: 16px;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 13;
      grid-column-start: 13;
  margin-top: 25px;
  margin-left: 30px;
}

.contacto {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (5%)[20];
      grid-template-rows: repeat(20, 5%);
  -ms-grid-columns: (5%)[20];
      grid-template-columns: repeat(20, 5%);
}

.contacto h1 {
  font-size: 90px;
  color: #F2922E;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.contacto span {
  height: 120px;
  background-color: #F2922E;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  margin-top: 12px;
  margin-top: 30px;
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 12px;
}

.contacto .maps {
  width: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  -ms-grid-row: 8;
      grid-row-start: 8;
}
/*# sourceMappingURL=style.css.map */