@import 'variables';

.empresa{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: repeat(20, 5%);
    grid-template-columns: repeat(20, 5%);
    
    h1{
        font-size: 90px;
        color: $color-main-2;
        grid-row-start: 1;
    }
    span{
        height: 80px;
        background-color: $color-main-2;

        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 21;
        margin-top: 12px;
        margin-top: 30px;

        padding-left: 5px;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        h2{
            font-size: 60px;
        }
    }
    p{
        font-size: 18px;        
        margin-top: 20px;
    }
    .text-1{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 6;
    }
    .text-2{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 10;
    }
    .text-3{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 14;
    }
    img{
        width: 400px;
        border-radius: 16px;

        grid-row-start: 4;
        grid-column-start: 13;
        margin-top: 25px;

        margin-left: 30px;
    }
}