@import 'variables';

.home{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: repeat(20, 5%);
    grid-template-columns: repeat(20, 5%);
    h1{
        text-align: justify;

        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-end: 6;

        font-size: 110px;

        color: $color-main-2;
    }
    h2{
        grid-column-start: 1;
        grid-row-start: 4;

        font-size: 60px;
    }
    p{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 6;
        grid-row-end: 14;

        font-size: 25px;
        margin-right: 20px;
    }
    .img-main{
        width: 430px;

        border-radius: 16px;

        grid-column-start: 13;
        grid-row-start: 3;
    }
    span{            
        height: 120px;

        background-color: $color-main-2;

        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 15;
        opacity: 0.9;

        border-radius: 16px;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        button{
            width: 300px;
            height: 75px;
            margin-left: 80px;

            border-radius: 16px;

            border: none;

            background-color: $color-intro;
            a{
                color: $color-main;
                font-size: 30px;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}