// Colores
$color-intro:#3D3D3D;
$color-navbar: #3D3D3D;
$color-main: #DFDFE2;
$font-color-1: rgba(196, 196, 196, .9);
$font-color-2: rgba(196, 196, 196, .5);
$font-color-3: #3D3D3D;
$color-main-2: #F2922E;

// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap');

$font-main: 'Poppins', sans-serif;
